---
layout: default
---
{% include navbar.haml %}
%section.background-eot.bg-lightyellow
  %img.img-responsive.img-center{src: 'assets/images/eot19/bg-eot19-future.png', alt: 'pictures of the group during past eduontour'}
  .text.bg-eot-main
    %h1.eot.hide Edushifts On Tour
    %h2.eot.hide presente!

  %section.eot.details-eot.bg-white.bg-eot19-img-white#details
    .container
      .row
        .col-md-6.col-sm-12
          %h2.eot.text-brown.light
            Ready to take off to 
            %span.strong new dimensions?
          :markdown
            Humanity is undergoing an intense transformation.
            Regeneration of our planet beyond the UN’s 17 Sustainable Development Goals is needed.

          .text-darkgreen.strong
            The global collective presente! invites conscious leaders and enablers to join us on the Cobra Canoa.
          :markdown
            This learning journey will transform the way you live and work!
            We will travel through Brazil for 10 days to learn with traditional communities how to use modern technology to regenerate our planet.
            Join us and collaborate beyond organizations and cultures. We will experience life-changing conversations and spread stories full of hope, consciousness and well being.

        .col-md-6.col-sm-12
          %h2.eot.text-brown.light
            Key
            %span.strong information & detail

          :markdown
            * **Dates:** August 4th to 13th, 2019
            * **Venues:** Brazil, Starting in São Paulo along the Costa Verde up to Rio de Janeiro.
            * **Details:** https://www.present-e.org/cc19
            * **Number of Participants:** Maximum of 20 people
            * **Format:** Curated, self-organized and play-based learning experience

          %h2.eot.text-center.text-brown.strong
            Key words
          :markdown
            1 Systemic change and learning societies
            2 Regenerative models
            3 Social innovation and impact creation

  %section.eot.bg-eot19-destaque
    .container
      .row
        .col-md-10.col-sm-offset-1.col-sm-12
          %h2.eot.text-white
            Hop on 
            %span.text-darkyellow Cobra Canoa
            to cross boundaries for regenerating 
            %span.text-green Mother Earth.

  %section.eot.details-eot
    .container
      .row
        .col-md-6.col-sm-12
          %h2.text-brown
            What is in it 
            %span.text-bold for you?

          :markdown
            • EXPERIMENT how to create impact beyond traditional paths by leading through the emerging future. You are entering a new world by becoming aware of old paradigms and mentalities that are no longer needed;

            • COLLABORATE with a new generation of thought leaders and upcoming game changers. Build communities of change instantly and set up exponential projects.

            • ENHANCE your impact of your foundation, group or collective through the opportunity of a cutting-edge learning experience with indigenous leaders, traditional communities, systemic entrepreneurs and visionary investors.

        .col-md-6.col-sm-12
          %h2.text-brown.strong
            Let’s get real!
          :markdown
            **1.** We co-create a 20 mins documentary on regenerative models, the systemic transformation of education and collaborative economy
            
            **2.** We work out educational material for the regeneration of the planet and a collective case study that tackles the climatic break down 
            
            **3.** How many trees can we plant together? Let’s play high. We will involve all people that we are meeting on our journey. And those who are joining online.

  %section.eot.investments-eot.bg-lightblue.bg-eot19-img-lightblue#investments
    .container
      .row
        .col-md-6.col-md-offset-3
          %h2.eot.text-blue.light.text-center
            Your
            %span.strong investments
            &
            %span.strong financial contribution
      .row
        .col-xs-12.col-sm-6.col-md-3
          .col.box-invest.bg-blue.text-white.text-center.rounded.box-shadow
            %h3.text-darkyellow
              System Entrepreneur
            %span.box-ps (up to 6 pax)
            %h4.text-darkyellow €1.500
            %hr.border-dotted
            %p.box-info
              You bring your talents and skills and help us to create a life-changing experience. Join us just by covering your expenses.
        .col-xs-12.col-sm-6.col-md-3
          .col.box-invest.bg-blue.text-white.text-center.rounded.box-shadow
            %h3.text-darkyellow
              Education Changemaker
            %span.box-ps 
            %h4.text-darkyellow €3.500
            %hr.border-dotted
            %p.box-info
              Welcome co-creators of a future education!
              Participate in our learning journey in order to create new curricula and to transform the education system
        .col-xs-12.col-sm-6.col-md-3
          .col.box-invest.bg-blue.text-white.text-center.rounded.box-shadow
            %h3.text-darkyellow
              Impact Investor
            %span.box-ps
            %h4.text-darkyellow €9.500
            %hr.border-dotted
            %p.box-info
              Bring your business case and let us solve it collectively during the journey. We use a model of collaborative economy. Your investment will enable a systemic entrepreneur, who needs financial support, to participate
        .col-xs-12.col-sm-6.col-md-3
          .col.box-invest.bg-blue.text-white.text-center.rounded.box-shadow
            %h3.text-darkyellow
              Transformation Community
            %span.box-ps (up to 4 groups)
            %h4.text-darkyellow €15.000
            %hr.border-dotted
            %p.box-info
              Groups consist of 5 members, among them at least three youth leaders, will focus on identifying learning opportunities and systemic solutions for strengthening regenerative youth projects
    .container
      .row
        .col-md-12
          %h3.eot.text-blue.strong.text-center
            INCLUDED IN THE JOURNEY
          :markdown
            1. Curated impact travel and deep personal learning experiences
            2. Impact coaching and support in involving local partners and benefactors
            3. Accommodations, breakfast and dinners
            4. Local transportation in Brazil for all group activities

          %h3.eot.text-white.text-center
            Not included: Airfare, insurance and lunches. 
  
  %section.eot.bg-blue.bg-eot19-img-blue.text-white#letstalk
    .container
      .col-md-12
        %h2.eot.text-darkyellow.strong.text-center
          Let’s walk our talk!
      .col-md-6.col-sm-12
        :markdown
          * We develop fair exchanges with local communities and collaborators. Let’s
          decolonize our history and partnerships. We need to move on together.
      .col-md-6.col-sm-12
        :markdown
          * We work together with our participants towards climate neutrality by reducing our
          climate footprint and compensate what cannot be avoided.
      %hr.dotted

  %section.eot.bg-white.bg-eot19-img-white#whoarewe
    .container
      .row
        .col-md-12
          %h2.eot.text-brown.strong
            Who
            %span.light are we?
          %p
            We are
            %span.strong presente!
            We are a collective committed to regenerate our planet and to trigger a conscious
            evolution. Since 2011 we have run learning journeys in various regions: Europe, the Middle East and
            South America.
      .row
        .col-md-2
          %img.img-responsive{src: "assets/images/eot19/naiara.png", alt: "Picture of Naiara"}
        .col-md-10
          %h4.strong.text-darkgreen Naiara Yusió Tukano
          I belong to the Yepã Masã people of the Alto Rio Negro region, Amazonas,
          Brazil. I am 32 years old, a mother, lawyer and activist, and I carry out
          projects that can contribute to the cultural and spiritual strengthening of
          native people. I believe that concrete actions linked to indigenous vision
          and potential are a path of our strength and freedom. I defend the Rights
          of Nature and initiatives that seek the recognition of respect for the life of
          all beings and the regeneration of the earth and all its forms of life.
      .row
        .col-md-2
          %img.img-responsive{src: "assets/images/eot19/philippe.png", alt: "Picture of Philippe"}
        .col-md-10
          %h4.strong.text-darkgreen Philippe Greier
          %p
            I am an Austrian living in Brazil. A business coach and consultant, a systemthinking entrepreneur and someone who likes to challenge our modern
            way of living. I believe that transformation of humanity and regeneration
            of our mother earth is deeply rooted in a collective learning and playful
            collaborations. My mission is to bring together communities from all walks
            of life who are willing to unlearn and build up a new reality.
  
  %section.bg-darkred
    .container
      .row
        .col-md-8.col-md-offset-2.text-white
          %p.text-center
            Discover how 
            %span.strong Cobra Canoa
            can be a valuable learning experience for you!
          %p.text-center
            For more information, visit
            %br
            %a.text-white.strong{ :href => "http://www.present-e.org/cc19", :title => "present website" } www.present-e.org/cc19
            %br
            or contact
            %br
            %span.strong Philippe Greier: philippe@present-e.org

  %section.get-news
    .container
      %h2.text-center.white DO YOU WANT TO SHIFT WITH US
      .row
        .col-sm-4.col-sm-offset-4
          %form(action="//world.us16.list-manage.com/subscribe/post?u=4fb16c76a798800052ceeadfe&amp;id=84eb5b8ebd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="")

            .form-group
              %input.form-control{name: "EMAIL", placeholder: "you@example.com", type: "email", value: ""}
              %div{"aria-hidden" => "true", style: "position: absolute; left: -5000px;"}
            .form-group
              %input.btn.btn-primary.form-control{name: "subscribe", type: "submit", value: "Subscribe now"}
  %section.get-in-touch#contact
    .container
      .row
        .col-sm-5
          %h4 Get in touch with us

          %p
            %img{src: "assets/images/EDUshifts-logo_onTour_full_blue-01-200x107.png", width: '200', alt: "EDUshifts on tour logo"}

          %p
            {% for social_network in site.data.social_networks %}
            %a{href: "{{ social_network[1] }}", target: "_blank"}
              %img.icon-small(src="assets/images/icons/{{ social_network[0] }}.svg")
            {% endfor %}

          %p
            %a{href: "mailto:ahoi@edushifts.world?subject=[eotx]edushifts"}
              %strong ahoi@edushifts.world

        .col-sm-7
          %img.img-responsive(src="assets/images/edushifts-crew-2.png")

{% include footer.haml %}
