---
layout: default
---
{% include navbar.haml %}
%section.main-jumbotron.jumbotron
  .text
    %h1 The future of education is in your hands!
    %a.btn.btn-primary.btn-lg{href: "https://now.edushifts.world/", target: "_blank"}
      Track the books
    %a.btn.btn-primary.btn-lg{href: "https://edushifts.world/ebooks/EDUshiftsNow_BP.pdf", target: "_blank"}
      Portuguese eBook
    %a.btn.btn-primary.btn-lg{href: "assets/ebooks/EDUshiftsNow_Eng.pdf", target: "_blank"}
      English eBook

%section.core-values.bullets
  .container
    .row
      {% for core_value in site.data.core_values %}
      .col-sm-3.text-center
        %img.icon(src="assets/images/icons/{{ core_value.icon }}.svg")

        %h3 {{ core_value.title }}
        :markdown
          {{ core_value.description }}
      {% endfor %}

%section.outlook-to-the-future#future
  .container
    %h2 Outlook to the Future

    %h4 What do we see for the future?
    .row
      .col-sm-6
        :markdown
          EDUshifts is highlighting a vibrant ecosystem of innovations and solutions in education. We believe in changing the world through education. We understand that offering a more democratic and accessible educational paradigm can broaden the world of people who do not have an opportunity to study.

      .col-sm-6
        :markdown
          This, in turn, helps diminish social inequalities, creating more value in society. The shift in the educational paradigm is also beneficial to those who did have access to the education in a traditional format, but who feel that there are current social and professional needs and gaps that the traditional model is not able to bridge.

    .row
      .col-sm-6
        %h4 Why we are doing this
        :markdown
          Solutions to transform education do exist. Joint actions, shared resources, learning environments and educative communities are becoming crucial for preserving peace, hope and dignity. It is important for such knowledge to be applicable to our current needs. Hence, we create a united narrative of the transformation in education.

      .col-sm-6
        %h4 Who it is for
        :markdown
          The EDUshifts movement is for those who wish to rethink the way we “do” education around the world, and for those who want to see more leaders asking questions about the future of education. It is for those who understand there must be a better way to educate future generations and for humans to coexist with nature on this planet.

          Transforming society means transforming education. Transforming education means breaking patterns and realities that we have been building up for centuries. Does it sound like something you’d be part of? Do you want to share your story? Then [click here](http://edushifts.slack.com).

%section.get-news
  .container
    %h2.text-center.white DO YOU WANT TO SHIFT WITH US
    .row
      .col-sm-4.col-sm-offset-4
        %form(action="//world.us16.list-manage.com/subscribe/post?u=4fb16c76a798800052ceeadfe&amp;id=84eb5b8ebd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="")

          .form-group
            %input.form-control{name: "EMAIL", placeholder: "you@yourmail.com", type: "email", value: ""}
            %div{"aria-hidden" => "true", style: "position: absolute; left: -5000px;"}
          .form-group
            %input.btn.btn-primary.form-control{name: "subscribe", type: "submit", value: "Subscribe now"}

%section.get-in-touch#contact
  .container
    .row
      .col-sm-5
        %h4 Get in touch with us

        %p
          %img{src: "assets/images/EDUshifts_logo_full_200x107.png", width: '200'}

        %p
          {% for social_network in site.data.social_networks %}
          %a{href: "{{ social_network[1] }}", target: "_blank"}
            %img.icon-small(src="assets/images/icons/{{ social_network[0] }}.svg")
          {% endfor %}

        %p
          %a{href: "mailto:ahoi@edushifts.world?subject=[index]edushifts"}
            %strong ahoi@edushifts.world

      .col-sm-7
        %img.img-responsive(src="assets/images/edushifts-crew-2.png")

{% include footer.haml %}