---
layout: default
---
{% include navbar.haml %}
%section.eot.book-authors#team
  .container
    .row
    {% for team in site.data.eot_team %}
      .author.text-center.col-md-6.col-sm-12
        %img.img-square(src="assets/images/team/{{ team.name | slugify: 'latin' }}.jpg" width='150' height='150')
        %h5.orange-color {{ team.name }}
        :markdown
          {{ team.bio }}

        {% if team.twitter %}
        %a(href="{{ team.twitter }}")
          %img.icon.orange-color(src="assets/images/icons/twitter-orange.svg")
        {% endif %}

        {% if team.linkedin %}
        %a(href="{{ team.linkedin }}")
          %img.icon.orange-color(src="assets/images/icons/linkedin-orange.svg")
        {% endif %}

      {% endfor %}

{% include footer.haml %}