%nav.navbar.navbar-fixed-top.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-menu", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "//edushifts.world"}
        %img{src: "assets/images/edushifts-logo-white.png", width: '100', height: '50'}

    #main-menu.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "#game"} Game
        %li
          %a{href: "#future"} Future
        %li
          %a{href: "#about-the-book"} About the Book
        %li
          %a{href: "#authors"} Authors
        %li
          %a{href: "#content"} Content
        %li
          %a{href: "#contact"} Contact
        %li
          .navbar-form
            %a.btn.btn-lg.btn-primary{href: "https://www.generosity.com/education-fundraising/edushifts-now-collective-book-initiative"} Fund a book
