---
---

// Color pallete
$white: #fff
$black: #000000
$dark-grey: #333333
$purple: #7150a8
$light-blue: #2d7dd2
$dark-blue: #0f2a60
$yellow: #ffc60b
$pink: #e7015e
$green: #4CAF50
$ice: #f1f1f1
$orange: #f7941e
//Color pallete eot19
$blue: #344961
$light-blue: #b5c9e4
$dark-yellow: #dca947
$light-yellow: #e2b553
$brown: #703b3a
$dark-green: #90a03c
$dark-red: #863f3e


// Typography
$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif
$font-size-base: 18px

// Bootstrap variables
$navbar-default-bg: $dark-blue
$navbar-border-radius: 0
$navbar-default-color: $white
$navbar-default-link-color: $white
$navbar-default-link-hover-color: $white
$navbar-default-link-active-color: $white
$navbar-height: 72px
$line-height-base: 1.8

$font-size-h1: round(($font-size-base * 2.5))
$font-size-h2: round(($font-size-base * 2))
$font-size-h3: round(($font-size-base * 1.5))
$font-size-h4: round(($font-size-base * 1.25))
$font-size-h5: $font-size-base !default
$font-size-h6: round(($font-size-base * 0.85))


@import 'vendor/bootstrap-sass/assets/stylesheets/bootstrap'

// Main CSS
body
  padding-top: 60px
  font-weight: 300

h1, h2, h3, h4, h5
  font-family: Montserrat
  font-weight: 700

h5
  text-transform: uppercase

.strong
  font-weight: 700

.light
  font-weight: 300

section
  padding-top: 80px
  padding-bottom: 80px

.jumbotron
  color: $white
  h1
    font-size: 48px

  .btn-primary
    font-weight: 100

.main-jumbotron
  position: relative
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ site.baseurl }}../images/edushifts-crew.png)
  background-size: cover
  background-position-y: -80px
  height: 80vh

  .text
    text-align: center
    position: absolute
    bottom: 20vh
    width: 100%

    p
      font-weight: 300

.about-the-book-initiative
  background-color: $orange
  color: $dark-grey

.fund-one-copy
  padding: 120px 0
  background-repeat: no-repeat
  background-image: linear-gradient(rgba(195, 78, 41, 0.71), rgba(195, 78, 41, 0.71)), url({{ site.baseurl }}../images/world.png)
  background-position: center center
  background-size: cover

  h3
    margin: 0 auto
    padding-bottom: 40px
    max-width: 600px

.outlook-to-the-future
  background-color: $ice

.navbar
  .btn-primary
    background-color: $orange
    color: $dark-grey

.the-game, .book-content
  background-color: $ice

.the-game-is-simple
  background-color: $orange

.navbar-brand
  padding-top: 16px
  padding-bottom: 16px

.bullets .icon
  width: 60px
  height: 60px

.icon
  width: 40px
  height: 40px

.icon-small
  width: 32px
  height: 32px

.author
  padding-bottom: 20px

// general

.inline
  display: inline

// bg ----------------------

.bg-darkblue
  background-color: $dark-blue

.bg-darkred
  background-color: $dark-red

.bg-darkyellow
  background-color: $dark-yellow

.bg-lightyellow
  background-color: $light-yellow

.bg-blue
  background-color: $blue

.bg-lightblue
  background-color: $light-blue

.bg-white
  background-color: $white

// text --------------------

.pink-color
  color: $pink
  fill: $pink

.green-color
  color: $green
  fill: $green

.yellow-color
  color: $yellow
  fill: $yellow

.orange-color
  color: $orange
  fill: $orange

.blue-color
  color: $blue
  fill: $blue

.darkblue-color
  color: $dark-blue
  fill: $dark-blue

.darkyellow-color
  color: $dark-yellow
  fill: $dark-yellow

.darkgreen-color
  color: $dark-green
  fill: $dark-green

.blue-color
  color: $blue
  fill: $blue

.brown-color
  color: $brown
  fill: $brown

.text-white
  color: $white

.text-blue
  color: $blue

.text-green
  color: $green

.text-orange
  color: $orange

.text-pink
  color: $pink

.text-black
  color: $black

.text-darkblue
  color: $dark-blue

.text-brown
  color: $brown

.text-darkyellow
  color: $dark-yellow

.text-darkgreen
  color: $dark-green

.text-icon
  display: inline
  width: 20px

// borders

.border-black
  border-color: $black

.border-dotted
  border: none
  border-bottom: 2px dotted

.border-left-dotted
  border-left: 1px dotted

.rounded
  border-radius: 15px

.box-shadow
  box-shadow: 9px 9px 10px #0000004d

// images
.img-center
  margin: 0 auto

.img-small
  max-width: 30%

.main-jumbotron.index
  position: relative
  background: url(../images/edushifts-on-tour.png) no-repeat center
  background-color: rgb(255,255,255)
  background-size: contain
  height: 80vh
  margin-top: 2em

.destaque-presente
  margin-top: 50px

.get-news
  background-color: $dark-blue!important
  h2
    color: $white
  .btn-primary
    background-color: $orange
    border-color: $orange
    color: $white

.get-in-touch#contact
  background-color: $ice

.social-networks-section
  .social-networks
    max-width: 600px
    display: flex
    justify-content: space-between
    align-items: stretch
    margin: 0 auto

    a
      flex: flex-grow
      padding: 32px 0
      color: $black
      font-weight: 300
      font-family: Montserrat
      font-size: 16px

.copyright-footer
  &, a
    font-family: Arial
    background-color: $yellow
    padding: 20px 0
    font-size: 14px
    color: $dark-blue !important
    letter-spacing: 2px

.book-authors 
  h3
    margin-bottom: 60px
    margin-top: 0

// eduontour 2019 eot19 page

.box-invest
    width: 23%
    margin: 1%
    min-height: 583px


// eduontour page


.background-eot
  padding: 0
//  background-image: url({{ site.baseurl }}../images/eot19/bg-eot-shapes.png)
//  background-color: rgba(255,255,255,0.8)
//  background-size: 1095px auto

.bg-eot19-img-white
  background-image: url({{ site.baseurl }}../images/eot19/bg-eot19-white.png)
  background-position: right
  background-repeat: repeat-y

.bg-eot19-img-blue
  background-image: url({{ site.baseurl }}../images/eot19/bg-eot19-blue.png)
  background-position: bottom
  background-repeat: repeat-x

.bg-eot19-img-lightblue
  background-image: url({{ site.baseurl }}../images/eot19/bg-eot19-lightblue.png)

.eot.bg-eot19-destaque
  background-image: url({{ site.baseurl }}../images/eot19/bg-eot19-destaque.png)
  height: 520px
  background-size: cover

//section.eot
  //background-color: rgba(255,255,255,0.8)

.main-jumbotron.eot
  position: relative
  background: url(../images/edushifts-on-tour.png) no-repeat center
  background-color: rgb(255,255,255)
  background-size: contain
  height: 80vh
  margin-top: 2em

.eot > h2
  text-transform: uppercase
  color: $black

.text-right-art
  text-align: right
  color: $green
  font-size: calc(1.6em + 1vw)  
  .big
    font-size: calc(2.3em + 2vw)


// geral

.inline
  display: inline

.text-center
  text-align: center

.block
  display: block