---
---

$white: #fff
$dark-blue: #0f2a60

$navbar-default-bg: $dark-blue
$navbar-border-radius: 0
$navbar-default-color: $white
$navbar-default-link-color: $white
$navbar-default-link-hover-color: $white
$navbar-default-link-active-color: $white
$navbar-height: 80px

$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif

@import 'vendor/bootstrap-sass/assets/stylesheets/bootstrap'

.navbar-brand
  padding-top: 16px
  padding-bottom: 16px