---
---

// Color pallete
$white: #fff
$dark-blue: #0f2a60

// Typography
$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif

// Bootstrap variables
$navbar-default-bg: $dark-blue
$navbar-border-radius: 0
$navbar-default-color: $white
$navbar-default-link-color: $white
$navbar-default-link-hover-color: $white
$navbar-default-link-active-color: $white
$navbar-height: 80px

@import 'vendor/bootstrap-sass/assets/stylesheets/bootstrap'

// Main CSS
body
  padding-top: 80px

.navbar-brand
  padding-top: 16px
  padding-bottom: 16px